.article {
  max-width: 984px;
  margin: 92px 148px 0;
}

.article__image {
  max-width: 100%;
  height: auto;
}

.article__content_title {
  font-size: 54px;
  margin: 92px 0 0;
}

.article__content_quotation {
  width: 737px;
}

.article__content_quote {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 0;
  line-height: 1.5;
}

.article__content_author {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.article__content_text {
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.6;
}

/* -- medias -- */

@media screen and (max-width: 1024px) {
  .article {
    max-width: 984px;
    margin: 30px 0 0;
  }

  .article__image {
    max-width: 100%;
    height: auto;
  }

  .article__content {
    width: 100%;
  }

  .article__content_title {
    width: 100%;
    font-size: 45px;
    margin-top: 90px;
    padding-left: 24px;
  }
  .article__content_quotation {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .article__content_quote {
    max-width: 100%;
  }

  .article__content_author {
    max-width: 100%;
  }

  .article__content_text {
    max-width: 100%;
    line-height: 1.8;
  }
}

@media screen and (max-width: 544px) {
  .article__image {
    max-width: 100%;
    height: auto;
  }

  .article__content {
    width: 100%;
  }

  .article__content_title {
    width: 100%;
    font-size: 32px;
    margin: 64px 0 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .article__content_quotation {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .article__content_quote {
    width: 100%;
  }

  .article__content_author {
    width: 100%;
  }

  .article__content_text {
    width: 100%;
  }
}
