.main {
  display: flex;
  flex-direction: column;

  color: #fff;
  margin: 64px 148px 0;
}

.main__image {
  max-width: 100%;
  height: auto;
}

.main__content {
  width: 830px;
  margin-top: 92px;
}

.main__content_title {
  font-size: 54px;
  margin: 0;
}

.main__content_quotation {
  width: 737px;
}

.main__content_quote {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 0;
  line-height: 1.5;
}

.main__content_author {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.main__content_text {
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 0;
  font-weight: normal;
}

/* -- medias -- */

@media screen and (max-width: 1024px) {
  .main__image {
    max-width: 100%;
    height: auto;
  }

  .main__content {
    width: 100%;
  }

  .main__content_title {
    width: 100%;
    font-size: 45px;
  }
  .main__content_quotation {
    width: 100%;
  }

  .main__content_quote {
    width: 100%;
  }

  .main__content_author {
    width: 100%;
  }

  .main__content_text {
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .main__image {
    max-width: 100%;
    height: auto;
  }

  .main__content {
    width: 100%;
  }

  .main__content_title {
    width: 100%;
    font-size: 32px;
  }

  .main__content_quotation {
    width: 100%;
  }

  .main__content_quote {
    width: 100%;
  }

  .main__content_author {
    width: 100%;
  }

  .main__content_text {
    width: 100%;
  }
}
